@import "normalize";

@import "modules/rwd";
@import "modules/typo";

html, body {
	width: 100%;
}
body {
	min-height: 100vh;
	background-color: red;
}

@import "modules/color";
@import "modules/navbar";
@import "modules/slides";