@import "normalize";

@import "modules/rwd";
@import "modules/typo";

html, body {
	width: 100%;
}
html {
	-webkit-overflow-scrolling: touch;
	-webkit-tap-highlight-color: green;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;

	-webkit-animation: fadein 2s;
    -moz-animation: fadein 2s;
    -ms-animation: fadein 2s;
    -o-animation: fadein 2s;
    animation: fadein 2s;
}
body {
	min-height: 100vh;
	background-color: #fff;
}

a, p, h1, h2, h3, h4, h5, h6, b {
	transition: all 0.3s;
}

.row {
	position: relative;
	width: 100%;
	display: block;
	&>section {
		float: left;
	}
	clear: both;
}

@keyframes fadein {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@import "modules/color";
@import "modules/navbar";
@import "modules/slides";
@import "modules/about";
@import "modules/footer";