.containerSlides {
	width: 100%;

	section {
		width: 100%;
		background-repeat: no-repeat;
		background-size: contain;
		position: relative;

		.container {
			text-align: left;
			header {
				.class {
					text-transform: uppercase;
					color: map-get($colors, white);
					font-size: 11px;
					position: relative;
					&:after {
						content: "";
						position: absolute;
						top: 20px;
						left: 20px;
						display: block;
						width: 25px;
						height: 1px;
						background-color: map-get($colors, white);
					}
				}
				h1 {
					font-family: 'Playfair Display', serif;
					font-size: 40px;
					font-weight: 400;
					color: map-get($colors, white);
					margin: 25px 0 25px 0;
				}
				.price {
					font-size: 14px;
					color: map-get($colors, white);
					margin: 0 0 25px 0;
				}
			}
		}
	}

	.slide1 {
		min-height: 50vh;

		background-color: map-get($colors, green);
		color: map-get($colors, white);

		background-image: url('../img/slide1.png');
		background-position: 30% bottom;

		.container {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);

			right: 0;
			width: 50%;
			header {
				.class {
					color: map-get($colors, black);
					&:after {
						background-color: map-get($colors, black);
					}

					@include mquery(xs) {
						color: map-get($colors, white);
						&:after {
							background-color: map-get($colors, white);
						}
					}
				}
				.price {
					color: map-get($colors, black);
					@include mquery(xs) {
						color: map-get($colors, white);
					}
				}
			}
			.btn {
				display: block;
				border: 1px solid map-get($colors, black);
				color: map-get($colors, black);
				text-decoration: none;
				text-align: center;
				font-size: 14px;
				line-height: 28px;
				width: 120px;
				height: 30px;
				border-radius: 3px;
				cursor: pointer;

				@include mquery(xs) {
					color: map-get($colors, white);
					border-color: map-get($colors, white);
				}

				&:hover,
				&:focus {
					background-color: map-get($colors, black);
					color: map-get($colors, white);
					@include mquery(xs) {
						background-color: map-get($colors, white);
						color: map-get($colors, black);
					}
				}
			}
		}
	}

	.slide2 {
		min-height: 50vh;

		background-color: map-get($colors, blue);

		background-image: url('../img/slide2.png');
		background-position: center;
		background-size: cover;

		.container {
			padding: 30px 0 0 30px;
			header {
				.class {
					&:after {
						background-color: map-get($colors, black);
					}
				}
				.price {
					color: map-get($colors, black);
				}
			}
		}
	}
	.slide3 {
		min-height: 50vh;

		background-color: map-get($colors, pink);

		background-image: url('../img/slide3.png');
		background-position: center;
		background-size: cover;

		.container {
			padding: 30px 0 0 30px;
			header {
				.class {
					&:after {
						background-color: map-get($colors, black);
					}
				}
				.price {
					color: map-get($colors, black);
				}
			}
		}
	}
	.slide2, .slide3 {
		@include mquery(xl) {
			width: 50%;
		}
	}

	.slide4,
	.slide6 {
		@include mquery(xl) {
			width: 25%;
			min-height: 60vh;
		}
		min-height: 100vh;
		position: relative;

		background-color: map-get($colors, white);

		background-position: center;
		background-size: cover;

		.container {
			width: 100%;
			height: 100%;
			header {
				position: absolute;
				left: 10px;
				bottom: 10px;
				.class {
					color: map-get($colors, black);
					&:after {
						background-color: map-get($colors, black);
					}
				}
			}
		}
	}
	.slide4 {
		background-image: url('../img/slide4.png');
	}
	.slide6 {
		background-image: url('../img/slide6.png');
	}
	
	.slide5 {
		@include mquery(xl) {
			width: 50%;
		}
		min-height: 60vh;

		background-color: map-get($colors, white);

		background-image: url('../img/slide5.png');
		background-position: center;
		background-size: cover;
		@include mquery(xl) {
			background-attachment: fixed;
		}

		position: relative;

		.container {
			position: absolute;
			bottom: 30px;
			left: 30px;
			header {
				.class {
					&:after {
						background-color: map-get($colors, black);
					}
				}
				.price {
					color: map-get($colors, black);
				}
			}
		}
	}	
}